body {
  padding-top: 50px;
}
.map {
  float: left;
  position: relative;
}

.controls {
  float: left;
  margin-left: 20px;
}

.debug {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}

.map .tiles {
  width: 300px;
}

.map .tile {
  min-height: 50px;
  border: 1px solid #ccc;
}

.directions,
.actions {
  float: left;
}

.directions > div {
  height: 34px;
}

.directions .btn-center button {
  display: block;
  margin: 0 auto;
}

.actions {
  display: inline-block;
}

.actions > div {
  margin-left: 10px;
  height: 34px;
}

.gu-sprite {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}
