<button move direction="up" player="player" type="button" class="btn btn-default btn-up">
  <i class="fa"></i>
  Up
</button>
<button move direction="left" player="player" type="button" class="btn btn-default btn-left">
  <i class="fa"></i>
  Left
</button>
<button move direction="right" player="player" type="button" class="btn btn-default btn-right">
  <i class="fa"></i>
  Right
</button>
<button move direction="down" player="player" type="button" class="btn btn-default btn-down">
  <i class="fa"></i>
  Down
</button>
